<!DOCTYPE html>
<html>

<head>
  <title>FitnessTrajectory</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
  
</head>

<body>
  <header>
    <div class="header-logo">
      <% if @current_user %>
      <%= link_to "FitnessTrajectory", posts_path %>
      <% else %>
      <%= link_to "FitnessTrajectory", root_path %>
      <% end %>
    </div>
    <ul class="header-menus">
      <% if @current_user %>
      <li>
        <%= link_to @current_user.name, user_path(@current_user) %>
      </li>
      <li>
        <%= link_to "投稿一覧", posts_path %>
      </li>
      <li>
        <%= link_to "ユーザー一覧", users_path %>
      </li>
      <li>
        <%= link_to "新規投稿", new_post_path %>
      </li>
      <li>
        <%= link_to "ログアウト", logout_path, method: "post" %>
      </li>
      <% else %>
      <li>
        <%= link_to "FitnessTrajectoryとは", about_path %>
      </li>
      <li>
        <%= link_to "新規ユーザー登録", signup_path %>
      </li>
      <li>
        <%= link_to "ログイン", login_path %>
      </li>
      <% end %>
    </ul>
  </header>
  <% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
  <% end %>
  <%= yield %>
</body>
<footer>
</footer>

</html>